.game-screen
  display: flex
  flex-direction: row

  .stats
    max-width: 154px
    display: flex
    flex-direction: column
    align-items: center
    margin: 15px 15px 0

colors()
  &.red
    background-color: #ff808a;

  &.blue
    background-color: #87b1d4;

  &.green
    background-color: #66b08b;

.resource-box
  border: 1px solid black
  width: 154px
  height: 144px
  margin: 15px 0
  padding: 60px 16px 3px
  background-image: url(./resources.png)
  &.blue
    background-position-y: 288px
  &.green
    background-position-y: 144px

  .income
    font-size: 36pt
    color: #faefd5

  .amount
    text-align: right


.hand
  display: flex
  flex-direction: row

  .card
    border: 1px solid black
    width: 180px
    height: 240px
    position: relative
    margin: 0 2px
    background-image: url("./card-fill4.png")
    colors()

    &.disabled
      opacity: 0.5

    label
      padding: 2px 0
      text-align: center
      width: 90%
      margin: 2px auto 0
      border: 1px solid gray
      font-weight: bold
      display: block
      border-radius: 8px
      background: hsla(0, 0%, 100%, 0.3)

    .image
      background-color: lightgray
      margin: 4px auto
      width: 160px
      height: 95px

    .description
      font-size: 10pt
      margin: 6px 10px
      text-align: center
      text-shadow: 0 0 6px hsla(0, 0%, 100%, 0.8)
      p
        margin: 0

    .footer
      text-align: center
      line-height: 24px
      font-weight: bold
      position: absolute
      background: rgba(255, 255, 255, 0.25)
      border: 1px solid black
      bottom: 4px
      right: 4px
      border-radius: 24px
      width: 24px
      height: 24px

.castles
  height: 450px
  display: flex
  flex-direction: row
  align-items: flex-end
  .block
  .spacer
    flex-grow: 10
  .tower .block
    width: 88px
    background-image: url("./tower.png")
  .wall .block
    width: 48px
    background-image: url("./wall.png")
    background-position: bottom center
  .capstone
    width: 134px
    height: 186px
    background-image: url("./capstones.png")
  .enemy .capstone
    background-position: bottom
  .tower, .wall
    margin: 0 8px 4px
    display: flex
    align-items: center
    flex-direction: column
    label
      margin: 4px auto 0
      color: white
      font-weight: bold
      line-height: 16px
      height: 24px
      font-size: 10pt
      display: inline-block
      padding: 4px 10px
      border-radius: 3px
      width: auto
      background: hsla(0, 0%, 20%, .75)
      box-shadow:0 0 3px hsla(0, 0, 0%, .75)
      border: 1px solid hsla(0, 0%, 100%, .75)