cardWidth = 144px
minCardSpacing = 4px
maxCards  = 7

.game-screen
  display: flex
  flex-direction: column
  justify-content: center
  background: hsla(0, 0%, 100%, 0.65)
  padding: 24px
  border-radius: 8px
  box-shadow: 0 0 12px gray

  .stats
    max-width: 154px
    display: flex
    flex-direction: column
    align-items: center
    margin: 15px 15px 0


.battlefield
  display: flex
  flex-direction: row
  align-items: flex-end

colors()
  &.red
    background-color: #ff808a;

  &.blue
    background-color: #87b1d4;

  &.green
    background-color: #66b08b;

.resource-box
  border: 1px solid black
  width: 103px
  height: 95px
  margin: 15px 0
  padding: 30px 6px 0 12px
  background-size: 100%
  background-image: url(./resources.png)
  &.blue
    background-position-y: 188px
  &.green
    background-position-y: 94px

  .income
    line-height: 34pt
    font-size: 36pt
    color: #faefd5

  .amount
    text-align: right


.hand
  margin-top: 8px
  display: flex
  flex-direction: row
  justify-content: space-evenly
  width: (cardWidth + minCardSpacing * 2) * maxCards

.card
  inner-border = #595959
  border-radius: 5px
  border: 1px solid black
  width: cardWidth
  height: 192px
  position: relative
  margin: 0 2px
  background-image: url("./card-fill4.png")
  font-size: 10pt
  colors()

  &.disabled
    opacity: 0.5

  label
    padding: 2px 0
    text-align: center
    width: 90%
    margin: 2px auto 1px
    border: 1px solid inner-border
    font-weight: bold
    display: block
    border-radius: 8px
    background: hsla(0, 0%, 100%, 0.3)

  .image
    background-image: url("./card-sprites2.png")
    background-color: lightgray
    margin: 4px auto 0
    width: 128px
    height: 76px
    border-radius: 3px
    border: 1px solid inner-border

  .description
    font-size: 9pt
    margin: 4px 6px
    text-align: center
    border-radius: 3px
    border: 1px solid inner-border
    height: 70px
    display: flex
    align-items: center
    flex-direction: column
    justify-content: center
    background: hsla(0, 0%, 100%, 0.3)
    p
      margin: 0

  .footer
    text-align: center
    line-height: 24px
    font-weight: bold
    position: absolute
    border: 1px solid black
    bottom: 4px
    right: 4px
    border-radius: 24px
    width: 24px
    height: 24px

  grad(col)
    background-image: radial-gradient(circle at top left, #e7e7e7 30%, col 100%)

  &.red .footer
    grad(#de3745)

  &.blue .footer
    grad(#3489cf)

  &.green .footer
    grad(#2db370)

.castles
  height: 450px
  flex-grow: 10
  display: flex
  flex-direction: row
  align-items: flex-end
  .block
  .spacer
    flex-grow: 10
  .tower .block
    width: 70px
    background-size: 100%
    background-image: url("./tower.png")
  .wall .block
    width: 38px
    background-size: 100%
    background-image: url("./wall.png")
    background-position: bottom center
  .capstone
    width: 107px
    height: 149px
    background-size: 100%
    background-image: url("./capstones.png")
  .enemy .capstone
    background-position: bottom
  .tower, .wall
    margin: 0 8px 4px
    display: flex
    align-items: center
    flex-direction: column
    label
      margin: 4px auto 0
      color: white
      font-weight: bold
      line-height: 16px
      height: 24px
      font-size: 10pt
      display: inline-block
      padding: 4px 10px
      border-radius: 3px
      width: auto
      background: hsla(0, 0%, 20%, .75)
      box-shadow:0 0 3px hsla(0, 0, 0%, .75)
      border: 1px solid hsla(0, 0%, 100%, .75)


.card .discarded-text
  position: absolute
  font-weight: bold
  font-size: x-large
  color: antiquewhite
  text-align: center
  display: inline-block
  width: 100%
  margin-top: -50px
  text-shadow: 0 0 14px darkred, 0 0 8px darkred, 0 0 3px darkred

.animation-overlay
  margin-top: -660px
  position: absolute
  .card
    margin: 0 auto
    top: 144px
    animation: anim-player 2.5s ease-in-out 0s 1 forwards

  &.enemy .card
    animation-name: anim-enemy

anim(topStart)
  0%
    transform: translateX(100%)
    top: topStart
    opacity: 1
  20%
    transform: translateX(0)
    top: 144px
    opacity: 1
  80%
    transform: translateX(0)
    top: 144px
    opacity: 1
  100%
    transform: translateX(-100%)
    top: 0
    opacity: 0.25

@keyframes anim-player
  anim(300px)

@keyframes anim-enemy
  anim(0)