body
  margin: 0
  padding: 0
  font-family: sans-serif
  background: whitesmoke
  vertical-align: middle

*
  box-sizing: border-box

.box
  margin: auto
  max-width: 500px
  background: white
  position: relative
  top: 50vh
  transform: translateY(-50%)
  box-shadow: 0 0 12px gray
  border-radius: 4px
  padding: 16px
  display: flex
  justify-content: space-between
  &.down
    flex-direction: column
  &.wide
    max-width: 720px

  .avatar-display
    box-sizing: content-box
    width: 128px
    height: 128px
    background-color: white
    border: 1px solid lightgray

  .input-container
    padding: 0 12px
    flex-grow: 2
    display: flex
    flex-direction: column
    justify-content: space-between
    > *
      display: block
      margin: 0 0 8px 0

    label div
      padding-left: 2px
      font-size: 10pt
      margin-bottom: 4px

    input
      width: 100%
      border: 1px solid lightgray
      border-radius: 4px
      padding: 8px
      font-size: 12pt

.button-container-right
  display: flex
  justify-content: flex-end

.button
  padding: 1ex
  border: none
  background-color: darkslateblue;
  color: white
  font-weight: bold
  border-radius: 4px
  width: auto
  &:hover
    background-color: lighten(darkslateblue, 10%)
  &:active
    background-color: darken(darkslateblue, 10%)

.player
  box-sizing: content-box
  height: 128px
  width: 128px
  border: 1px solid lightgray

  background: red
  img
    position: relative
  label
    color: white
    font-weight: bold
    line-height: 16px
    height: 24px
    font-size: 10pt
    display: inline-block
    position: relative
    bottom: 30px
    padding: 4px 10px
    border-radius: 3px
    width: auto
    background: hsla(0, 0%, 20%, .75)
    box-shadow:0 0 3px hsla(0, 0, 0%, .75)
    border: 1px solid hsla(0, 0%, 100%, .75)
    left: 50%
    transform: translateX(-50%)

.connection-data
  overflow: hidden
  padding-left: 8px
  pre
    overflow-x: auto
    padding: 8px
    border-radius: 4px
    background: lightgray
    border: 1px solid gray