.player
  height: 128px
  width: 128px
  .ant-tag
    min-width: 50px
    text-align: center
    position: relative
    left: 50%
    bottom: 30px
    transform: translateX(-50%)

.conditions-waiting-notice
  display: flex
  justify-content: center
  align-items: center

  .spinner
    animation: spinner-color 5s infinite
    padding: 0 16px
    *
      border-color: initial !important

@keyframes spinner-color
  0%
    color: darkred
  25%
    color: darkgoldenrod
  50%
    color: darkslateblue
  75%
    color: darkgreen
  100%
    color: darkred
