.player
  box-sizing: content-box
  height: 128px
  width: 128px
  border: 1px solid lightgray

  img
    position: relative
  label
    color: white
    font-weight: bold
    line-height: 16px
    height: 24px
    font-size: 10pt
    display: inline-block
    position: relative
    bottom: 30px
    padding: 4px 10px
    border-radius: 3px
    width: auto
    background: hsla(0, 0%, 20%, .75)
    box-shadow:0 0 3px hsla(0, 0, 0%, .75)
    border: 1px solid hsla(0, 0%, 100%, .75)
    left: 50%
    transform: translateX(-50%)